<h1> This is SighUp Page </h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button> Submit </button>
</form>

<li><a href="/register"> SignUp </a></li>
<li><a href="/Login"> LogIn </a></li>
<li><a href="/LogOut"> LogOut </a></li>