img {
	width: 30%;
	height: 350px;
	float: left;
	margin: 1.66%;
}
p {
	margin-left: 1.66%;
	padding-bottom: 20px;
	font-family: 'Merriweather', serif;
	font-weight: 800;
	font-size: 30px;
	border-bottom: 1px solid grey;
	width: 30%;
}
