<!DOCTYPE html>
<html>
	<head>
		<title> YelpCamp </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">"
	</head>
	<body>

	<nav class="navbar navbar-light bg-light">
		<div>
			<a class="navbar-brand" href="/">YelpCamp</a>
		</div>

		<div>
			<ul class="nav justify-content-end">
				<% if(!currentUser){ %>
					<li class="nav-item">
						<a class="nav-link " href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/register">SignUp</a>
					</li>
				<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="#">SignedIn as <%= currentUser.username %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/logout">LogOut</a>
					</li>
				<% } %>
			</ul>
		</div>

	</nav>

	<p class="fixed-bottom"> TradeMark YelpCamp 2019 </p>