<% include partial/header %>

<h1>This is the love for <%=thingVar.toUpperCase(); %> </h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
	<p> Good Choice, By selecting Rusty </p>
<% } else { %>
	<p> Whats that, you know rusty is best!!! </p>
<% } %>

<p> This is love.ejs file </p>

<% include partial/header %>